{%  extends "base.html" %}

{%  block page_header %}
<h2>{{ heading }}</h2>
{%  endblock %}

{%  block content %}

<form role="form" method="post" action="{{ url_for('.save_lolcat') }}" enctype="multipart/form-data">
    {{  form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.blurb.label }}
        {{ form.blurb(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.source.label }}
        {{ form.source(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.image_data.label }}
        {{ form.image_data(class_="form-control") }}
    </div>

    <button type="submit" class="btn btn-default">Save</button>
</form>

{% endblock %}