{%  extends "base.html" %}

{%  block page_header %}
<h2>{{ heading }}</h2>
{%  endblock %}

{%  block content %}

<form role="form" method="post" action="/lolcat/save" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{ cat.id if cat is not none }}" />
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" class="form-control" value="{{ cat.title if cat is not none}}" />
    </div>
    <div class="form-group">
        <label for="blurb">Blurb:</label>
        <input type="text" id="blurb" name="blurb" class="form-control" value="{{ cat.blurb if cat is not none }}" />
    </div>
    <div class="form-group">
        <label for="source">Source:</label>
        <input type="text" id="source" name="source" class="form-control" value="{{ cat.source if cat is not none }}" />
    </div>
    <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" id="image" name="image" class="form-control" value="{{  cat.image  if cat is not none }}" />
    </div>

    <button type="submit" class="btn btn-default">Save</button>
</form>

{% endblock %}