{%  extends "base.html" %}

{%  block page_header %}
    <h2>{{ cat.title }}</h2>
{% endblock %}

{%  block content %}


    <div class="jumbotron">
        <h3 class="media-heading">{{ cat.title }}</h3>
        <img class="media-object" src="{{ url_for('.image_data', catid=cat.id) }}" />
        <p>
        {{ cat.blurb }}

    </p><a href="{{ url_for('.edit', catid = cat.id) }}" aria-label="Left Align"><span class="glyphicon glyphicon-edit" aria-label="true"></span> edit</a>
        <a href="{{ url_for('.delete', catid = cat.id) }}"><span class="glyphicon glyphicon-erase" aria-label="true"></span> delete</a></div>

    {% for comment in cat.comments %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ comment.author }}</div>
        <div class="panel-body">{{  comment.comment }}</div>

            <ul class="list-group">

            {%  for reply in comment.replies%}

                <li class="list-group-item">
                    <h4 class="list-group-item-heading">{{ reply.author }}</h4>
                    <p class="list-group-item-text">{{ reply.comment }}</p>
                </li>

            {% endfor %}

                <li class="list-group-item">
                    <div class="container">
                {%set rf = replyForms | selectattr("comment_id", "equalto", comment.id | string) | first | default(replyForms[0])  %}
                    <form role="form" method="post" action="{{ url_for('.save_comment_reply', catid=cat.id, commentid=comment.id) }}" class="form-inline">
                        {{  rf.hidden_tag() }}
                        <div class="form-group">
                            {{ rf.author.label }}
                            {{ rf.author(class_="form-control", placeholder="author") }}
                        </div>
                        <div class="form-group">
                            {{ rf.comment.label }}
                            {{ rf.comment(class_="form-control", placeholder="comment reply") }}
                        </div><button type="submit" class="btn btn-default">Add Reply</button>
                    </form>
                    </div>
                </li>
        </ul>

    </div>
    {% endfor %}

    <form role="form" method="post" action="{{ url_for('.save_comment', catid=cat.id) }}">
        {{  form.hidden_tag() }}
        <div class="panel panel-primary">
            <div class="panel-heading">Add a comment</div>
            <div class="panel-body">
                <div class="form-group">
                    {{ form.author.label }}
                    {{ form.author(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.comment.label }}
                    {{ form.comment(class_="form-control") }}
                </div><div class="panel-footer"><button type="submit" class="btn btn-primary">Add Comment</button></div>
            </div>
        </div>
    </form>

{% endblock %}