{%  extends "base.html" %}

{%  block page_header %}
    <h2>{{ cat.title }}</h2>
{% endblock %}

{%  block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li class="alert alert-success">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <div class="media">
        <div class="media-body"><h4 class="media-heading">{{ cat.title }}</h4></div>
        {{ cat.blurb }}
    </div>


{% endblock %}