{%  extends "base.html" %}

{%  block page_header %}
    <h2>{{ cat.title }}</h2>
{% endblock %}

{%  block content %}


    <div class="jumbotron">
        <h3 class="media-heading">{{ cat.title }}</h3>
        <img class="media-object" src="{{ url_for('.image_data', catid=cat.id) }}" />
        <p>
        {{ cat.blurb }}

    </p><a href="{{ url_for('.edit', catid = cat.id) }}" aria-label="Left Align"><span class="glyphicon glyphicon-edit" aria-label="true"></span> edit</a>
        <a href="{{ url_for('.delete', catid = cat.id) }}"><span class="glyphicon glyphicon-erase" aria-label="true"></span> delete</a></div>

    {% for comment in cat.comments %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ comment.author }}</div>
        <div class="panel-body">{{  comment.comment }}</div>
    </div>
    {% endfor %}

    <form role="form" method="post" action="{{ url_for('.save_comment', catid=cat.id) }}">
        {{  form.hidden_tag() }}
        <div class="panel panel-primary">
            <div class="panel-heading">Add a comment</div>
            <div class="panel-body">
                <div class="form-group">
                    {{ form.author.label }}
                    {{ form.author(class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.comment.label }}
                    {{ form.comment(class_="form-control") }}
                </div><div class="panel-footer"><button type="submit" class="btn btn-primary">Add Comment</button></div>
            </div>
        </div>
    </form>

{% endblock %}