{%  extends "base.html" %}

{%  block page_header %}
    <h2>All Lolcats</h2>
{% endblock %}

{%  block content %}

    <div class="container">
        <div class="well well-sm">There are {{ total }} lolcats for you</div>

        <div class="row">
        {%  for cat in cats %}
            <div class="col-sm-6 col-md-3 thumbnail">
            <a href="{{ url_for('.one', catid=cat.id) }}">
                <img src="{{ url_for('.image_data', catid=cat.id) }}" alt="{{ cat.title }}" />
                <h3>{{ cat.title }}</h3>
            </a>
            <p>{{ cat.blurb }}</p>
            <p>
                <div class="btn-group" role="group">
                    <a href="{{ url_for('.one', catid=cat.id) }}" class="btn btn-primary">view</a>
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button">options<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ url_for('.edit', catid = cat.id) }}"><span class="glyphicon glyphicon-edit" aria-label="true"></span> edit</a></li>
                            <li><a href="{{ url_for('.delete', catid = cat.id) }}"><span class="glyphicon glyphicon-erase" aria-label="true"></span> delete</a></li>
                        </ul>
                    </div>
                </div>
            </p>
        </div>
        {%  endfor  %}
        </div>
    </div>



    <ul class="pagination">
    {%  if page > 0 %}
    <li>
          <a href="{{ url_for( '.home', page=page - 1) }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
    </li>
    {%  endif %}

    {% for i in range(0, pages) %}
        <li class="{{ "active" if page == loop.index0 }}"><a href="{{ url_for('.home', page=loop.index0) }}">{{ loop.index }}</a></li>
    {% endfor %}

    {%  if (page + 1) < pages %}
    <li>
          <a href="{{ url_for('.home', page=page + 1) }}" aria-label="Previous">
            <span aria-hidden="true">&raquo;</span>
          </a>
    {%  endif %}
    </ul>

{% endblock %}