{%  extends "base.html" %}

{%  block page_header %}
    <h2>All Lolcats</h2>
{% endblock %}

{%  block content %}

    <div class="well well-sm">There are {{ total }} lolcats for you</div>

    {%  for cat in cats %}

    <div class="media">
        <div class="media-left">
        <a href="{{ url_for('.one', catid=cat.id) }}">
            <img class="media-object" src="{{ url_for('.image_data', catid=cat.id) }}" width="200" height="200" />
            </a>
        </div>
        <div class="media-body"><h4 class="media-heading"><a href="{{ url_for('.one', catid=cat.id) }}">{{ cat.title }}</a></h4>
        {{ cat.blurb }}
        <a href="{{ url_for('.edit', catid = cat.id) }}" aria-label="Left Align"><span class="glyphicon glyphicon-edit" aria-label="true"></span> edit</a>
        <a href="{{ url_for('.delete', catid = cat.id) }}"><span class="glyphicon glyphicon-erase" aria-label="true"></span> delete</a>
        </div>
    </div>

    {%  endfor  %}

    <ul class="pagination">
    {%  if page > 0 %}
    <li>
          <a href="{{ url_for( '.home', page=page - 1) }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
    </li>
    {%  endif %}

    {% for i in range(0, pages) %}
        <li class="{{ "active" if page == loop.index0 }}"><a href="{{ url_for('.home', page=loop.index0) }}">{{ loop.index }}</a></li>
    {% endfor %}

    {%  if (page + 1) < pages %}
    <li>
          <a href="{{ url_for('.home', page=page + 1) }}" aria-label="Previous">
            <span aria-hidden="true">&raquo;</span>
          </a>
    {%  endif %}
    </ul>

{% endblock %}