{%  extends "base.html" %}

{%  block page_header %}
    <h2>All Lolcats</h2>
{% endblock %}

{%  block content %}

    <div class="well well-sm">There are {{ total }} lolcats for you</div>

    {%  for cat in cats %}

    <div class="media">
        <div class="media-left">
            <img class="media-object" src="/lolcat/image/{{ cat.id }}" width="200" height="200" />
        </div>
        <div class="media-body"><h4 class="media-heading">{{ cat.title }}</h4>
        {{ cat.blurb }}
        <a href="/lolcat/edit/{{ cat.id }}">edit</a>
        <a href="/lolcat/delete/{{ cat.id }}">delete</a>
        </div>
    </div>

    {%  endfor  %}

    <ul class="pagination">
    {%  if page > 0 %}
    <li>
          <a href="/lolcats/{{ page - 1 }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
    </li>
    {%  endif %}

    {% for i in range(0, pages) %}
        <li class="{{ "active" if page == loop.index0 }}"><a href="/lolcats/{{ loop.index0 }}">{{ loop.index }}</a></li>
    {% endfor %}

    {%  if (page + 1) < pages %}
    <li>
          <a href="/lolcats/{{ page + 1 }}" aria-label="Previous">
            <span aria-hidden="true">&raquo;</span>
          </a>
    {%  endif %}
    </ul>

{% endblock %}